/*===========reset_code==========*/
*{
	margin: 0;
	padding: 0;
}
h1,h2,h3,h4,h4,h6{
	margin: 0px;
}
/*===========reset_code==========*/
/*===========reset_code==========*/
/*===========reset_code==========*/
/*===========reset_code==========*/
/*===========reset_code==========*/
